.listCard {
  width: 90%;
  margin: 1% 5%;
  background-color: #e5d4ed;
}
.listCard:hover,
button:hover {
  transform: scale(1.05);
}

.listCardCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.listCardCont img {
  max-height: 200px;
}

.paginatorContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.paginatorContainer button {
    margin: 2%;
}

