<mat-card *ngFor="let item of dat" class="listCard" (click)="getIdResults(item.imdbID)">
  <mat-card-content class="listCardCont">
    <img *ngIf="item.Poster != 'N/A'" src="{{ item.Poster }}" />

    <img *ngIf="item.Poster == 'N/A'" src="../../assets/movie.png " />

    <h1>{{ item.Title }}</h1>
    <h4>{{ item.Year }}</h4>
  </mat-card-content>
</mat-card>

<div class="paginatorContainer">
  <button *ngIf="dat.length != total" mat-raised-button color="primary" (click)="fetchData()">
    More ...
  </button>
</div>
